body{
	background-color: blue;
}
#area1{
	width: 800px;
	height: 400px;
	background-image: url(flag.jpg);
	background-size:100% 100%;
	background-repeat: no-repeat;
}
#area2{
	width: 280px;
	height: 35px;
	background-color: red;
	font: 24px/100% Arial;
	padding: 10px;
	border: 5px solid black;
}
#area3{
	width: 340px;
	height: 200px;
	background-color: white;
	padding: 25px;
	border: 5px solid black;
	overflow: scroll;
}
.newFont{
	font: 18px/100% Arial;
}